PORT=3000
# Set DATABASE_DRIVER to mongodb or mysql.
DATABASE_DRIVER=mongodb
MONGODB_URI=mongodb://127.0.0.1:27017/product_crud
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=product_crud
