#home {
    background: url('https://images.unsplash.com/photo-1504674900247-0877df9cc836?q=80&w=1600&auto=format&fit=crop&ixlib=rb-4.0.3&s=') center/cover no-repeat;
    color: #42291a;
    min-height: 60vh;
    position: relative;
}

#home > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}


.menu-card-img {    
    height: 160px;
    object-fit: cover;
}
footer {
    background: #222;
    color: #ddd;
}